# Python
__pycache__/


# Virtual Environment
venv/
env/
.env/

# Project specific
work_dir/
receptor_cache/
uploads/
results/
certs/
tasks/
config.py
*.zip


# Logs
*.log
log/
logs/

# Cache
.cache/
.pytest_cache/
.coverage

# System
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
